.link {
  font-weight: 600;
  border: 1px solid #f00000;
  padding: 9px 25px 9px 25px;
}

.link:hover {
  background-color: #f00000;
  color: white;
  border: none;
}

.marginT {
  margin-top: 9px;
}
